<br> Radley Ciego </br>
<br> GTECH 73100 </br>
<br> Assignment 8: Pandas & Geopandas </br>

In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
data = "https://raw.githubusercontent.com/TangoYankee/gtech_731-geocomp-hw/main/assignment-eight/data/gz_2010_us_050_00_20m.geojson"
counties = gpd.read_file(data)
counties.head(10)

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry
0,0500000US01001,01,001,Autauga,County,594.436,"POLYGON ((-86.49677 32.34444, -86.71790 32.402..."
1,0500000US01009,01,009,Blount,County,644.776,"POLYGON ((-86.57780 33.76532, -86.75914 33.840..."
2,0500000US01017,01,017,Chambers,County,596.531,"POLYGON ((-85.18413 32.87053, -85.12342 32.772..."
3,0500000US01021,01,021,Chilton,County,692.854,"POLYGON ((-86.51734 33.02057, -86.51596 32.929..."
4,0500000US01033,01,033,Colbert,County,592.619,"POLYGON ((-88.13999 34.58170, -88.13925 34.587..."
5,0500000US01045,01,045,Dale,County,561.150,"POLYGON ((-85.41644 31.61947, -85.41743 31.314..."
6,0500000US01051,01,051,Elmore,County,618.485,"POLYGON ((-86.33678 32.76747, -86.31948 32.753..."
7,0500000US01065,01,065,Hale,County,643.943,"POLYGON ((-87.42120 32.87451, -87.47217 32.830..."
8,0500000US01079,01,079,Lawrence,County,690.678,"POLYGON ((-87.10507 34.68604, -87.10591 34.587..."
9,0500000US01083,01,083,Limestone,County,559.936,"POLYGON ((-86.83631 34.99176, -86.82066 34.991..."

In [27]:
counties.dtypes['STATE'] # check datatype of STATE column for join
counties['STATE'] = counties['STATE'].astype(int) # change data type to integer

In [35]:
states = pd.read_json('./fipsToState.json', orient='index') 
states = states.reset_index() # add index as column name
states.head(5)

   STATE  STATE_NAME
0      1     Alabama
1      2      Alaska
2      4     Arizona
3      5    Arkansas
4      6  California

In [36]:
states = states.rename(columns={'index':'STATE',0:'STATE_NAME'}) # rename columns
states.dtypes['STATE'] # check datatype of STATE column for join

dtype('int64')

## Task 1:
Find top n most common county names (n = 3 or 5, for example)

In [29]:
def top_5_counties(n):
    return counties.groupby("NAME").size().nlargest(n)

In [30]:
top_5_counties(5)

NAME
Washington    31
Franklin      26
Jefferson     26
Jackson       24
Lincoln       24
dtype: int64

## Task 2:
Derive summary statistics for states, for example, number of counties, counties with max/min area

In [ ]:
lrg_cnties = counties.groupby("NAME").max("CENSUSAREA")
lrg_cnties.tail(5)

In [ ]:
smll_cnties = counties.groupby("NAME").min("CENSUSAREA")
smll_cnties.head(5)

## Task 3:
Join fips code to get full names of states (plesae do a real join using merge)

In [37]:
joined_states = counties.merge(states, on='STATE') # merge counties df with states df on state column
joined_states.sample(5)

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry,STATE_NAME
1118,0500000US22121,22,121,West Baton Rouge,Parish,192.394,"POLYGON ((-91.41492 30.53517, -91.33087 30.658...",Louisiana
2386,0500000US47079,47,079,Henry,County,562.096,"POLYGON ((-87.99092 36.36013, -88.08767 36.359...",Tennessee
1278,0500000US28151,28,151,Washington,County,724.741,"POLYGON ((-90.71628 33.27003, -90.68032 33.201...",Mississippi
461,0500000US13019,13,019,Berrien,County,451.897,"POLYGON ((-83.19797 31.02540, -83.27373 31.026...",Geogia
1561,0500000US29049,29,049,Clinton,County,418.956,"POLYGON ((-94.60226 39.74719, -94.20596 39.745...",Missouri

## Task 4:
Plot maps to show all the counties with the most common names from first task

In [ ]:
top_5 = joined_states.nlargest(5, '')